/*** fonts ***/
/* open-sans-regular - latin_latin-ext_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v40-latin_latin-ext_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-italic - latin_latin-ext_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v40-latin_latin-ext_symbols-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600 - latin_latin-ext_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v40-latin_latin-ext_symbols-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600italic - latin_latin-ext_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-v40-latin_latin-ext_symbols-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin_latin-ext_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v40-latin_latin-ext_symbols-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700italic - latin_latin-ext_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/open-sans-v40-latin_latin-ext_symbols-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@import "bootstrap/bootstrap-scss-5.3.3/_functions.scss";

@import "variables.scss";

@import "bootstrap/bootstrap-scss-5.3.3/_variables.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_mixins.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_maps.scss";
@import "bootstrap/bootstrap-scss-5.3.3/utilities";

@import "utilities.scss";

@import "bootstrap/bootstrap-scss-5.3.3/utilities/api";
@import "bootstrap/bootstrap-scss-5.3.3/_root.scss";

@import "bootstrap/bootstrap-scss-5.3.3/_transitions.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_nav.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_navbar.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_badge.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_breadcrumb.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_button-group.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_buttons.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_carousel.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_close.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_card.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_containers.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_dropdown.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_forms.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_grid.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_modal.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_reboot.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_pagination.scss";
@import "bootstrap/bootstrap-scss-5.3.3/_type.scss";

@import "bootstrap/bootstrap-scss-5.3.3/bootstrap-grid.scss";
@import "bootstrap/bootstrap-scss-5.3.3/bootstrap-utilities.scss";


/*** links ***/
.link-primary:hover {
  color: $dark-red !important;
}

/*** landing page ***/
.carousel::before {
  top: 0;
  right: 0;
  content: "";
  background-color: $dark-red;
  position: absolute;
  width: 20rem;
  height: 5rem;
}

.carousel-wrapper-bottom {
  width: 40.3% !important;
}

/*** case overview ***/
.case-card {
    width: 30rem;
    height: 25rem;
}
annotation-slider .slider-number::after {
  display:none;
}