$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (8r: 8rem),
        ),
      ),
    ),
  ),
);

$utilities: map-merge(
  $utilities,
  (
  "font-size": map-merge(
    map-get($utilities, "font-size"),
    (
      values: map-merge(
        map-get(map-get($utilities, "font-size"), "values"),
        ("7": 0.8rem, "8": 0.84rem),
      ),
    ),
  ),
)
);