$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (90: 90%, 8r: 8.5rem,"fit-content":fit-content),
        ),
        responsive: true,
      ),
    ),
  ),
);

$utilities: map-merge(
  $utilities,
  (
  "font-size": map-merge(
    map-get($utilities, "font-size"),
    (
      values: map-merge(
        map-get(map-get($utilities, "font-size"), "values"),
        ("7": 0.8rem, "8": 0.84rem),
      ),
    ),
  ),
)
);
/*https://5balloons.info/cursor-pointer-and-other-classes-for-bootstrap-5/*/
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed
    ),
  )
);