/*** colors ***/
$light-red: #c85545;
$dark-red: rgba(167, 61, 46, 1);
$darker-red: rgba(102, 16, 31);
$fackel-red: rgba(223, 177, 177);
$white-gray: rgba(248, 249, 250, 1);
$lighter-gray: rgba(240,240,240,1);
$light-gray: rgba(221, 219, 216, 1);
$darker-gray: rgba(224, 222, 213, 1);
$cite-card-gray: rgba(238, 237, 235, 1);
$dark-gray: rgba(198, 194, 188, 1);
$annot_all: rgba(138, 128, 128, 1);
$annot_person: rgba(249, 121, 121, 1);
$annot_institution: rgba(232, 236, 129, 1); 
$annot_place: rgba(150, 251, 228, 1);
$annot_work: rgba(156, 171, 255, 1);
$annot_law:rgba(216, 216, 216, 1);
$annot_quote:rgba(108, 233, 127, 1);
$rdg-bg: rgba(223, 211, 195, 1);
$darker-blue: rgba(83, 98, 113, 1);
$aquamarin: rgba(0, 104, 122, 1);
$dark-violett: rgba(109, 84, 87, 1);


$link-shade-percentage: 0%;


$theme-colors: (
  "primary": $light-red,
  "secondary": $dark-red,
  "darker-red": $darker-red,
  "white-gray": $white-gray,
  "lighter-gray": $lighter-gray,
  "light-gray": $light-gray,
  "darker-gray": $darker-gray, 
  "dark-gray": $dark-gray,
  "cite-card-gray": $cite-card-gray,
  "light-blue": #7cb5ec,
  "darker-blue": $darker-blue,
  "aquamarin": $aquamarin,
  "dark-violett": $dark-violett
);

/*** typography ***/
$h1-font-size: 1.5rem;
$h2-font-size: 1.3rem;
$font-weight-bolder: 600;
$font-family-base: 'Open sans';
$line-height-base: 1.5;

/*** links ***/
$link-color: rgba(0,0,0,1);
$link-hover-color: $dark-red;
$link-decoration: none;
$link-opacity:1;

/*** navbar ***/
$navbar-padding-y: 0.1rem;
$navbar-light-color:rgba(0,0,0,1);
$nav-link-font-weight: $font-weight-bolder;
$dropdown-border-radius: 0;

/*** breadcrumbs ***/
$breadcrumb-divider-color: $light-red;


/*** pagination ***/
$pagination-active-bg: $darker-gray;
$pagination-active-border-color: $darker-gray;
$pagination-border-width: 0;
$pagination-focus-box-shadow: 0;
$pagination-disabled-bg: white;
$pagination-disabled-color: $darker-gray;

/*** utilities ***/
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;