@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap');

:root {
    --primary-red: #C85545;
    --primary-red-dark: #A73D2E;

    --secondary-gray: #DDDBD8;
    --secondary-gray-dark: #C6C2BC;
    --secondary-gray-meta: #E0DED5;
    --secondary-gray-light: #f0f0f0;
    --cite-card-gray: #eeedeb;

    --handapparat-normal: #565149;
    --handapparat-hover: #7E766B;

    --toggle-person: #F97979;
    --toggle-institution: #E8EC81;
    --toggle-place: #96FBE4;
    --toggle-work: #9CABFF;
    --toggle-law: #D8D8D8;
    --toggele-quote: #6CE97F;
    --toggle-all: #8A8080;
    --toggle-inactive: #BBBBBB;
    --toggle-intertext: #dfb1b1;

    --text-gray: #2c3e50;
    --text-black: #1e2125;
    --text-white: whitesmoke;

    --comment-brown: #dfd3c3;

    --open-sans-regular: 'Open Sans', sans-serif;

    font-family: var(--open-sans-regular);
}

/*** headings ***/

h1 {
  font-size:1.5rem;
}

*,
:after,
:before {
    box-sizing: border-box;
}

span {
    display: inline;
}

a {
    color: #C85545;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 6px solid #A73D2E;
    opacity: 100%;
}

.navbar-nav ul li a:hover,
.navbar-nav ul li a:active {
    /* change navbar link color */
    background-color: #C85545;
    color: #fff;
}

.navbar-nav ul li.active a {
    /* change navbar link color */
    background-color: #C85545;
}

.custom-logo-link {
    margin-bottom: -2em;
}

body {
    border-top-width: 0;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
}

p {
    display: block;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.site>* {
    width: 100%;
}

.site {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    max-width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    max-width: 98%;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.smallcaps {
    text-transform: uppercase;
    letter-spacing: .5em;
}

.nounderline {
    text-decoration: none;
}

#viewer {
    position: sticky;
    top: 10%;
    padding: 2em;
}

/* entities */
.entity {
    cursor: pointer;
}

.entity-table {
    margin: 4em auto;
}

.entity-table tbody tr td,
.entity-table tbody tr th {
    border: none;
}

.entity-table tbody tr th {
    border-right: 1px solid lightgrey;
}

.modal-body table tbody tr th,
.modal-body table tbody tr td {
    border: none;
}

a.anchor,
.anchor-pb {
    position: relative;
    top: -120px;
    visibility: hidden;
}

a.anchorFoot {
    position: relative;
    top: -110px;
    visibility: hidden;
}

.footnote_link {
    display: inline-block;
    width: 2em;
    text-align: right;
    margin: 0 .7em 0 -2.7em;
}

.footnotes li {
    list-style: none;
    padding: .3em 0;
}

.footnotes {
    padding: 1em;
}

.wp-transcript {
    margin: 2em auto;
}

.wp-transcript .card-header {
    padding: 2em 0;
}

#editor-widget {
    position: fixed;
    right: 10%;
    max-width: 100px;
    padding: .5em;
    background-color: #C85545;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
    z-index: 2;
}

.navBarNavDropdown {
    position: relative;
    display: block;
    text-align: center;
}

.fas {
    color: #C85545;
}

#text-resize {
    min-height: 600px;
}

.navBarNavDropdown a {
    position: relative;
    display: block;
}

.navBarNavDropdown ul li {
    margin: .5em auto;
}

#staticSearch {
    padding: 2em;
}

/* Datatables, provided by https://github.com/babslgam*/

div.dataTables_filter {
    text-align: left !important;
}

.btn-link {
    font-size: 20px;
}

.exportbuttons {
    text-align: right;
}

.navbar {
    border-bottom: 5px solid #C85545;
    background-color: #fff;
    max-height: 100vh;
}

.dataTables_info {
    text-align: center;
}

.filters input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.dataTables_wrapper table {
    width: 100%;
}

.footer-separator {
    border-top: 1px solid #f1f1f1;
    padding: 2em 0;
}

/**** Font Aweseome ***/
.far {
    font-family: "Font Awesome 5 Free" !important;
}

.card {
    margin: 2em auto;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
}

.index-card {
    margin-top: 0 !important;
    box-shadow: none !important;
    transition: transform .2s;

}

.card-body img {
    border-radius: .35rem .35rem 0 0;
}

.index-card .card-header {
    border: none;
    text-align: center;
    color: #C85545;
}

.index-card .card-body {
    border: none;
    text-align: center;
    padding: 0;

}


.card-body img {
    border-radius: .35rem .35rem 0 0;
}

.index-card .card-header {
    border: none;
    text-align: center;
    color: #C85545;
}

.index-card .card-body {
    border: none;
    text-align: center;
    padding: 0;

}

.index-card:hover {
    transform: scale(1.05);
}

.index-link:hover {
    text-decoration: none !important;
}

.btn-round {
    border: 1px solid white;
}

.btn-round:hover {
    background-color: #fff;
}

.btn-round a {
    color: white;
}

p {
    display: block;
}

.carousel-indicators {
    cursor: pointer;
}


/*
####################################
proposed mobile resolution handling
####################################
*/
@media (max-width: 1920px) {
    #editor-widget {
        right: 5%;
    }

    /* 
#########################################
add rules for HD screen resolution
#########################################
*/
}

@media (max-width: 1200px) {
    #editor-widget {
        right: 1%;
        top: 12%;
    }

    /* 
#########################################
add rules for screen medium to low
resolution
#########################################
*/
}

@media (max-width: 1024px) {
    .navbar .navbar-collapse {
        border-top: 1px solid rgba(0, 0, 0, .075);
        padding-top: 2rem;
        margin-top: .5rem;
    }

    .img-fluid {
        max-width: 3.5rem !important;
    }

    /* 
#########################################
add rules for smallest tablet high
resolution or low resolution screens
#########################################
*/
}

@media (max-width: 768px) {
    .facsimiles {
        display: none;
    }

    .navBarNavDropdown ul li:nth-child(-n + 2) {
        display: none !important;
    }

    .text {
        padding-left: 0;
    }

    .wp-transcript {
        padding: 0 2em;
    }

    .img_bottom {
        padding: 1em;
    }

    .img_bottom .col-md-6 {
        padding: 0;
    }

    .intro {
        height: 100%;
    }

    #wrapper-footer-full {
        padding: 1em 0;
    }

    .img-fluid {
        max-width: 2rem !important;
    }

    .custom-logo-link {
        margin-bottom: 0;
    }

    /* 
#########################################
add rules for smallest smartphones 
high resolution or tablet regular resolution
#########################################
*/
}

@media (max-width: 575px) {
    br {
        display: none;
    }

    li a br {
        display: block !important;
    }

    .dropdown-menu li a {
        max-width: 500px;
        overflow: hidden;
    }

    /* 
#########################################
add rules for smallest smartphones 
regular resolution
#########################################
*/
}

@media (max-width: 480px) {
    .dropdown-menu li a {
        max-width: 400px;
        overflow: hidden;
    }

    /* 
#########################################
add rules for smallest smartphones 
low resolution
#########################################
*/
}


.nav-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    border-top: 0.5rem solid #C85545;
    align-items: center;
    display: flex;
    margin-bottom: 1em;
}

.custom-footer {
    padding: 2rem;
    margin: 0 !important;
}

.horizontal {
    color: #A73D2E;
    background-color: #A73D2E;
}

.dunkelgrau {
    background-color: #C6C2BC;
}

.hellgrau {
    background-color: #e0ded5;
}

.b {
    font-weight: 600;
}

/*** landing page ***/

.carousel-wrapper {
  background-color: var(--primary-red);
}

.carousel-wrapper-bottom {
  background: var(--primary-red-dark);
  width: 40.3% !important;
}

.intro-card img {
  border: solid var(--primary-red) .8rem;
}

.intro-card {
  flex: none !important;
  width:8rem;
  margin:0;
}

@media (max-width: 575px) {
  .intro-card {
      width: 10rem;
      margin:auto;
  }
}